<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet"> 

      <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
	   <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />
  
   </head>

   <body>
      {{#if user}}
         <nav>
            <div class="nav-left">
               <a href="/"><img src="/images/home.png" alt="home" width="20px" height="20px">
               <span>Home</span>
               </a>
            </div>
            <div class="nav-right">
               <div class="search-bar">
                  <form action="/search" method="POST" class="search-form">
                     <input type="text" placeholder="Search" name="search" id="search">
                     <button type="submit" class="search-btn"><img src="/images/search.png" alt="search" width="20px" height="20px"></button>
                  </form>
               </div>
               <a href="/events">All Events</a>
               <a href="/profile">Profile</a>
               <a href="/logout">Log Out</a>
            </div>
         </nav>
      {{else}}
      <nav>
            <div class="nav-left">
               <a href="/"><img src="/images/home.png" alt="home" width="20px" height="20px"><span>Home</span></a>
            </div>
            <div class="nav-right">
               <div class="search-bar">
                  <form action="/search" method="POST" class="search-form">
                     <input type="text" placeholder="Search" name="search" id="search">
                     <button type="submit" class="search-btn"><img src="/images/search.png" alt="search" width="20px" height="20px"></button>
                  </form>
               </div>
               <a href="/events">All Events</a>
               <a href="/signup">Sign Up</a>
               <a href="/login">Log In</a>
            </div>
         </nav>
      {{/if}}
      <div id="content-wrap">
         {{{body}}}
      </div>
      <footer id="footer"></footer>
      <script src="/js/script.js"></script>
   </body>

</html>