@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  min-height: 100vh;
  color: #132743;
}

/* div {
  text-align: center;
} */

a {
  color: #407088;
  text-decoration: none;
  font-size: 1.5em;
}

#allevents {
  /* background-color: orange; */
  width: 80vw;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}

.eventList {
  /* background-color: orange; */
  text-align: left;
  padding: 1em;
  list-style-type: none;
}

.mapBox {
  min-width: 300px;
  min-height: 300px;
  width: 40%;
  background-color: #ffb5b5;
  margin-bottom: 10px;
  /* align-self: center; */
  flex-grow: 2;
}

#map {
  width: 100%;
  height: 100%;
  align-self: center;
}

.eventForm h2 {
  display: flex;
  justify-content: center;
}

.eventForm {
  margin: 30px auto;
  width: 380px;
}

.eventForm label {
  color: #132743;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.eventForm input,
.eventForm button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

.eventForm button {
  background: #407088;
  border: 1px solid #132743;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
}

.eventForm button:hover {
  background: #fff;
  color: #407088;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.redText {
  color: crimson;
}

.first-color {
  background: #ffcbcb;
}

.third-color {
  color: #ffb5b5;
}

.second-color {
  color: #407088;
}

.fourth-color {
  color: #132743;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #407088;
  width: 100vw;
  height: 70px;
  z-index: 3;
}

.nav-left {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.nav-left > a {
  display: flex;
  align-items: center;
}

.nav-left > img {
  color: #fff;
  margin-right: 10px;
}

.nav-left span {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right > a {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin: 0px 20px;
  color: #fff;
  text-decoration: none;
}

.nav-right > a:last-child {
  margin-right: 40px;
}

.search-bar {
  padding: 0px;
  min-width: 250px;
  height: 40px;
  border: 0;
  background: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  height: 100%;
}

#search {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  box-sizing: border-box;

  margin: 0;
  border: 0;
  border-radius: 0;
  width: 100%;
  height: 100%;
  outline: 0;

}

.search-btn {
  background: 0 0;
  border: 0;
  padding: 0;
  cursor: pointer;

}

#content-wrap {
  padding-top: 70px; /* Navbar height*/
  padding-bottom: 70px; /* Footer height */
}



#footer {
  border-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(85, 82, 82);
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.names {
  margin: 5px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.line {
  margin: 5px 0px;
  width: 90%;
  border-bottom: 1px solid #fff;
}

.copyright {
  margin: 5px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.newEvent{
  width:80%;
}

