<h1>Add a new event </h1>
<form action="/events/add" method="POST">
	<label for="title">Title: </label>
	<input type="text" name="title" id="title">

	<label for="description">Description: </label>
	<input type="text" name="description" id="description">

	{{!-- add sports divide with comma	 --}}
	<label for="sports">Sports: </label>
	<input type="text" name="sports" id="sports">
	

	<label for="address">
		<label for="housenumber">House number: </label>
		<input type="number" name="housenumber" id="housenumber">
		<label for="street">Street: </label>
		<input type="text" name="street" id="street">
		<label for="city">City: </label>
		<input type="text" name="city" id="city">
		<label for="postcode">Postcode: </label>
		<input type="number" name="postcode" id="postcode">
		<label for="country">Country: </label>
		<input type="text" name="country" id="country">
	</label>
	
    <label for="startDate">Beginning: </label>
	<input type="date" name="startDate" id="startDate">
	<input type="time" name="startTime" id="startTime">

    <label for="endDate">Ending: </label>
	<input type="date" name="endDate" id="endDate">
	<input type="time" name="endTime" id="endTime">

	<button type="submit">Add this event</button>
</form>